.input-image{
    float: left;
    width: 50%;
}

.output-image{
    float: right;
    width: 50%;
}

body{
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6{
    color: #444444;
}